# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.gradle/*
.gradle
buildSrc/.gradle/*

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build


# other
eclipse
run

*.bat
*.jar
*.properties
*.png
*.gif

.git/*

